<!-- FOOTER
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<footer class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="column col-6 offset-3 col-md-4 offset-md-0">
        <h2 class="column__title">our team</h2>
        <p class="column__desc">We are the best company in the entire world!</p>
      </div><!-- .column -->

      <div class="column col-6 offset-3 col-md-4 offset-md-0">
        <h2 class="column__title">about</h2>
        <p class="column__desc">We are the best company in the entire world!</p>
      </div><!-- .column -->
      
      <div class="column col-md-4 offset-md-0">
        <h2 class="column__title">contact</h2>
        <p class="column__desc">
          <ul class="column__list">
            <li class="column__list-item">free@template.com</li>
            <li class="column__list-item">www.freetemplamte.com</li>
            <li class="column__list-item">tel. +48 123 456 79</li>
          </ul><!-- .column__list -->
        </p><!-- .column__desc -->
      </div><!-- .column -->
    </div><!-- .row -->
  </div><!-- .container -->

  <div class="footer__copyrights">
    <p>Copyright &copy; DSGN free use!</p>
    <p>Hand crafted by <a class="footer__copyrights-link" href="http://paulthedeveloper.com/" target="_blank">Paul The Developer</a></p>
  </div><!-- .footer__copyrights -->
</footer>