<!-- HEADER
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<header class="header">

  <!-- NAVBAR
  //────  ──────────────────────────────────────────────────────────────────────────────────
  //────  ────────────────────────────────────────────────────────────────────────────────── -->
  <nav class="main-navi navbar fixed-top navbar-light bg-white">
    <div class="main-navi__container container">

      <a href="#" class="main-navi__brand navbar-brand">
        <img src="{{site.baseurl}}/assets/img/logo.png" alt="DSGN Company">
      </a><!-- .navbar-brand -->

      <div class="social-and-toggler-wrapper">
        
        <ul class="social social--desktop">
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-facebook-f"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-instagram"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-twitter"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-linkedin"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
        </ul><!-- .social__link -->

        <button class="toggler navbar-toggler"  id="main-navi-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <div class="toggler__icon"></div><span class="toggler__text">MENU</span>
        </button><!-- .navbar-toggler -->

      </div><!-- .social-and-toggler-wrapper -->

      <div class="collapse navbar-collapse text-center" id="navbarToggler">

          <ul class="social social--mobile">
            <li class="social__item">
              <a href="#" class="social__link">
                <div class="fab fa-facebook-f"></div>
              </a><!-- .social__link -->
            </li><!-- .social__item -->
            <li class="social__item">
              <a href="#" class="social__link">
                <div class="fab fa-instagram"></div>
              </a><!-- .social__link -->
            </li><!-- .social__item -->
            <li class="social__item">
              <a href="#" class="social__link">
                <div class="fab fa-twitter"></div>
              </a><!-- .social__link -->
            </li><!-- .social__item -->
            <li class="social__item">
              <a href="#" class="social__link">
                <div class="fab fa-linkedin"></div>
              </a><!-- .social__link -->
            </li><!-- .social__item -->
          </ul><!-- .social__link --> 

        <div class="navbar-nav">
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#home">Home</a>
          </div><!-- .nav-item -->
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#growth">Growth</a>
          </div><!-- .nav-item -->
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#meet-us">Meet Us</a>
          </div><!-- .nav-item -->
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </div><!-- .nav-item -->
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#brands">Brands</a>
          </div><!-- .nav-item -->
          <div class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" href="#contact">Contact</a>
          </div><!-- .nav-item -->
        </div><!-- .navbar-nav -->
      </div><!-- .navbar-collapse -->

    </div><!-- .container -->
  </nav><!-- .navbar -->

</header>