<!-- HEADER
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<header class="header">

  <!-- NAVBAR
  //────  ──────────────────────────────────────────────────────────────────────────────────
  //────  ────────────────────────────────────────────────────────────────────────────────── -->
  <nav class="main-navi navbar navbar-light bg-white">
    <div class="main-navi__container container">

      <a href="#" class="main-navi__brand navbar-brand">
        <img src="{{site.baseurl}}/assets/img/logo.png" alt="DSGN Company">
      </a><!-- .navbar-brand -->

      <div class="social-and-toggler-wrapper">
        
        <ul class="social">
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-facebook-f"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-instagram"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-twitter"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
          <li class="social__item">
            <a href="#" class="social__link">
              <div class="fab fa-linkedin"></div>
            </a><!-- .social__link -->
          </li><!-- .social__item -->
        </ul><!-- .social__link -->

        <button class="toggler navbar-toggler"  id="main-navi-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <div class="toggler__icon"></div><span class="toggler__text">MENU</span>
        </button><!-- .navbar-toggler -->

      </div><!-- .social-and-toggler-wrapper -->

      <div class="collapse navbar-collapse text-center" id="navbarToggler">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li><!-- .nav-item -->
          <li class="nav-item">
            <a class="nav-link" href="#">Design</a>
          </li><!-- .nav-item -->
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li><!-- .nav-item -->
        </ul><!-- .navbar-nav -->
      </div><!-- .navbar-collapse -->

    </div><!-- .container -->
  </nav><!-- .navbar -->

</header>

<section class="dummy container">

</section>