<!-- HERO
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<section class="hero" id="home">

  <video autoplay muted loop class="hero__video" poster="{{site.baseurl}}/assets/video/Bootstrap4_challenge_video.jpg">
    <source src="{{site.baseurl}}/assets/video/Bootstrap4_challenge_video.webm" type="video/webm">
    <source src="{{site.baseurl}}/assets/video/Bootstrap4_challenge_video.mp4" type="video/mp4">
    <source src="{{site.baseurl}}/assets/video/Bootstrap4_challenge_video.ogv" type="video/ogg">
  </video>

  <div class="lead">
    <p class="lead__text">Need our help?</p>
    <h1 class="lead__title">Top designers</h1>
  </div><!-- .lead -->
  
  <a class="hero__btn btn btn-outline-light" href="#growth" role="button">Check us!</a>

  <a class="hero__arrow-link" href="#growth">
    <img class="hero__arrow-image" src="{{site.baseurl}}/assets/img/double-arrow.svg" alt="double arrow pointing down" height="26px">
  </a><!-- .hero__arrow-link -->

</section><!-- .hero -->