<!-- HERO
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<section class="hero">

  <div class="hero__text-wrap">
    <p class="hero__text lead">Need our help?</p>
    <h1 class="hero__title">Top designers</h1>
  </div><!-- .hero-text-wrap -->
  <button type="button" class="hero__btn btn btn-outline-light">Check us!</button>

  <a class="hero__arrow-link" href="#">
    <img class="hero__arrow-image" src="{{site.baseurl}}/assets/img/double-arrow.svg" alt="double arrow pointing down" height="26px">
  </a><!-- .hero__arrow-link -->

</section><!-- .hero -->