<!-- HERO
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<section class="hero">

  <div class="hero__wrapper container">
    <p class="hero__text lead">Need our help? </p>
    <h1 class="hero__title">Top designers</h1>
    <button type="button" class="btn btn-outline-light">Check us!</button>

    <a href="#">
      <img src="{{site.baseurl}}/assets/img/double-arrow.svg" alt="double arrow pointing down" height="40px">
    </a>
  </div><!-- .container -->

</section><!-- .hero -->