<!-- LOGOS LIST
//────  ──────────────────────────────────────────────────────────────────────────────────
//────  ────────────────────────────────────────────────────────────────────────────────── -->
<section class="logos container">

    <div class="logos__row row">
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-apple"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-html5"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-kfc"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-18"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-vw"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-ups"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-ubuntu"></div>
      </a><!-- .logos-item -->
    </div><!-- .logos__row -->

    <div class="logos__row row">
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-teamspeak"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-playstation"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-microsoft"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-bosh"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-allegro"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-shell"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-nivea"></div>
      </a><!-- .logos-item -->
    </div><!-- .logos__row -->

    <div class="logos__row row">
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-lg"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-insta"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-hp"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-hf2"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-dell"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-cooler-master"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-android"></div>
      </a><!-- .logos-item -->
    </div><!-- .logos__row -->

    <div class="logos__row row">
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-avg"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-19"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-17"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-intel"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-ea"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-amd"></div>
      </a><!-- .logos-item -->
      <a class="logos__item" href="#" target="_blank">
        <div class="logos__logo brands-nike"></div>
      </a><!-- .logos-item -->
    </div><!-- .logos__row -->
  
  </section>