<section class="staff">

  <div class="container">

    <div class="member row">
      <div class="member__info col-md-6">
        <h2 class="member__name">adrianna</h2>
        <p class="member__role">Senior Graphic Designer</p>
        <p class="member__desc col-10 offset-1 col-sm-8 offset-sm-2">She is the graphic designer with 3 years of professional experience.</p>
      </div><!-- .member__desc -->

      <div class="member__image col-md-6">
        <div class="member__image-border"></div><!-- .member__image-border -->
      </div><!-- .member__image -->
    </div><!-- .member -->

  </div><!-- .container -->

</section>