.brands
  background:
    color: #090909
    size: cover
    position: 50% 50%
    repeat: no-repeat
    
  /* Media Queries for the responsive background */
  @include artDir('../img/bgs/brands/375x200')
  @include artDir('../img/bgs/brands/576x200', 23.5em) // 376px
  @include artDir('../img/bgs/brands/768x200', 36em) // 576px
  @include artDir('../img/bgs/brands/816x200', 48em) // 768px
  @include artDir('../img/bgs/brands/992x300', 51em) // 816px
  @include artDir('../img/bgs/brands/1200x300', 62em) // 992px
  @include artDir('../img/bgs/brands/1600x300', 75em) // 1200px
  @include artDir('../img/bgs/brands/maxx300', 100em) // 1600px
  /* END of Media Queries for the responsive background */

  .container
    display: flex

  .lead__text
    &:before,
    &:after
      width: 2.9rem
