.growth

  &__wrapper
    margin-top: 4rem

  &__col
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

  &__indicator
    margin-bottom: 2rem
    transform: rotate(145deg)

  &__text
    max-width: 20rem
    margin-bottom: 4rem
    font-size: 1.8rem
