.hero
  background:
    color: #090909
    image: url("../img/bg_hero.jpg")
    size: cover
    position: 50% 50%
    repeat: no-repeat
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__text-wrap
    text-align: center
    overflow: hidden
    margin: 11rem 1.5rem 4.4rem

    // 816px
    @media (min-width: 51em)
      margin: 16rem 1.5rem 4rem
    
  &__text
    margin-bottom: .5rem
    text-align: center
    position: relative
    display: inline-block

    // 816px
    @media (min-width: 51em)
      margin-bottom: -.6rem
      font-size: 3rem

    // Horizontal Lines-On-Sides 
    &:before, 
    &:after
      content: ''
      position: absolute
      height: 1px
      width: 100%
      background: #fff
      top: 50%

    &:before
      right: 100%
      margin-right: .5em
    
    &:after
      left: 100%
      margin-left: .5em

  &__title
    margin: 0
    text-transform: uppercase
    font-size: 5.4rem
    letter-spacing: 0.03125em
    text-align: center

    // 816px
    @media (min-width: 51em)
      font-size: 7.2rem

  &__btn
    font-size: 1.4rem
    padding-left: 1.785em
    padding-right: 1.785em
    text-transform: uppercase
    border-radius: 12%/50%;
    border-width: 2px
    margin-bottom: 5rem

    // 816px
    @media (min-width: 51em)
      font-size: 1.8rem
      margin-bottom: 16rem
      padding: .8em 3.333em

  &__arrow-link
    margin-bottom: 4rem

  &__arrow-image
    animation: pulse 3s ease-in-out infinite

    // 816px
    @media (min-width: 51em)
      height: 3rem

    @keyframes pulse
      0%, 100%
        transform: translateY(-15%)
      50%
        transform: translateY(15%)
