.hero
  background:
    color: #090909
    image: url("../img/bg_hero.jpg")
    size: cover
    position: 50% 50%
    repeat: no-repeat
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__btn
    font-size: 1.4rem
    padding-left: 1.785em
    padding-right: 1.785em
    text-transform: uppercase
    border-radius: 12%/50%;
    border-width: 2px
    margin-bottom: 5rem

    // 816px
    @media (min-width: 51em)
      font-size: 1.8rem
      margin-bottom: 16rem
      padding: .8em 3.333em

  &__arrow-link
    margin-bottom: 4rem

  &__arrow-image
    animation: pulse 3s ease-in-out infinite

    // 816px
    @media (min-width: 51em)
      height: 3rem

    @keyframes pulse
      0%, 100%
        transform: translateY(-15%)
      50%
        transform: translateY(15%)

  //──── margins and MQ for lead text ──────────────────────────────────────────────────────────────────────────────────
  .lead
    margin: 11rem 1.5rem 4.4rem

    // 816px
    @media (min-width: 51em)
      margin: 16rem 1.5rem 4rem

    &__text
      font-size: 2.4rem

      // 816px
      @media (min-width: 51em)
        margin-bottom: -.6rem
        font-size: 3rem
    
    &__title
      font-size: 5.4rem
      margin-top: .5rem

      // 816px
      @media (min-width: 51em)
        font-size: 7.2rem